PORT=3001
NODE_NEW=development

# keep Neon credentials secure: do not expose them to client-side code

DATABASE_URL='postgresql://neondb_owner:npg_rAd2L9ZxTUnG@ep-fragrant-bird-b30onwwb-pooler.c-4.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'

CLERK_PUBLISHABLE_KEY=pk_test_dGVuZGVyLWhlbi0zNDQzLmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_US9t6vuCPBROVO0hpa6D9gvpyiHkvuajmu742dMwJe
CLERK_WEBHOOK_SECRET=whsec_Z+HdCLzg/dD65rd6f3ZcxtbK5D32YWCy

SENTRY_DSN=https://4bd5c46f0c38fe0cfd555b4e759fe976@o4512130429943808.ingest.us.sentry.io/4512131793223680

STREAM_API_KEY=nsuuc48p36fz
STREAM_API_SECRET=vf3vt4zbbveqyawqmehpb27a62gqd7tu5nez534dz7d7qweskqsdeyuey8gw3f43

IMAGEKIT_PUBLIC_KEY=vf3vt4zbbveqyawqmehpb27a62gqd7tu5nez534dz7d7qweskqsdeyuey8gw3f43
IMAGEKIT_PRIVATE_KEY=private_evgbk0ZkgZ2tP/5ZyVIkvdKozNI=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/heu1vowwa

